<div class="entry-page">
    <div class="top-banner">
        <span class="default-text">You want chicken, not beef</span>
    </div>
    <div class="page-content">
        <div>
            <img style="height: 875px; width: 950px;"
                src="https://cdn.vox-cdn.com/thumbor/eISYX3E9E-V6BIINtoqdt9-BCqY=/0x0:4170x2781/920x613/filters:focal(1794x850:2460x1516):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/68451245/1284965683.0.jpg"
                alt="weed dude">
        </div>
        <div class="right-panel" style="display: flex; flex-direction: column; width: 100%; padding: 2rem;">
            <div class="menu" style=" display:flex; justify-content: flex-end;">
                <button mat-button class="menu-buttons">Get App</button>
                <button mat-button class="menu-buttons">Sign In</button>
            </div>
            <div class="right-panel-content" style="margin-top: 20rem;">
                <span class="content-text">Order Some Dank ass nugs you'll love</span>
                <div class="container">
                    <div class="form-group" style="">
                        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                            placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
                            spellcheck="off" type="text" #search style="width: 95%;margin: 1rem;">
                    </div>

                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                            (dragEnd)="markerDragEnd($event)"></agm-marker>
                    </agm-map>

                    <h5>Address: {{address}}</h5>
                    <div>Latitude: {{latitude}}</div>
                    <div>Longitude: {{longitude}}</div>
                </div>
        
            </div>
        </div>
    </div>
</div>